/*responsive of this second section*/
@media screen and (max-width: 900px) {
    .partI{
        display: block;
    }
    .portrait{
        top: -20%;
    }
    .panther img{
        width: 100%;
    }
    .bg{
        margin-top: 55%;
    }
}