/*animation, the one who happen when we launch the page*/
*{
    animation: slide-from-left .5s ease-in-out;
}

@keyframes slide-from-left {
    from{
        transform: translateX(-50px);
        opacity: .9;
    }
    to{
        transform: translateX(0);
    }
}