/*Footer*/
  .foot, .bottom, .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .point {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--pinky);
    margin: 0 5px;
  }
  
  .bgimg {
    margin-right: 5%;
  }
  
  .footer {
    margin-left: 5%;
  }
  
  .img1 {
    position: relative;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
  }
  .img1:hover {
    transform: scale(1.1);
  }
  .img1 img {
    width: 300px;
  }
  .img1 .img2 {
    position: absolute;
    top: 150px;
    left: 75px;
  }
  .img1 .img2 img {
    width: initial;
    cursor: pointer;
  }
  
  .section1 {
    justify-content: space-between;
    margin-bottom: 5%;
  }
  .section1 * {
    color: #fff;
  }
  
  .media {
    text-align: center;
  }
  .media img {
    margin: 10px 5px 0;
    transition: transform 0.25s ease-in-out;
  }
  .media img:hover {
    transform: scale(1.1);
  }
  
  /*Responsive*/
  @media screen and (max-width: 820px) {
    .foot {
      display: block;
    }
    .foot .img1 {
      width: 300px;
      margin: 0 auto;
    }
    .section1 h4 {
      margin-top: 10%;
    }
  }
  @media screen and (max-width: 520px) {
    .foot {
      font-size: 0.9em;
    }
    .bottom {
      display: block;
      text-align: center;
    }
  }