/*variable for the colors*/
:root{
    --general: #021740;
    --pinky: #9E91B7;
    --button: #F2CEF2;
}
/*first thing first let's incorporate the fonts*/
@font-face {
    font-family: 'Titre H1';
    src: url(/fonts/panthera.otf);
}
@font-face {
    font-family: 'Titre H2';
    src: url(/fonts/BEYNO.ttf);
}
@font-face {
    font-family: 'Enigme';
    src: url(/fonts/WakandaForever-Regular.ttf);
}
@font-face {
    font-family: 'texte';
    src: url(/fonts/Cantarell-Regular.ttf);
}
    /*fonts of each elements... we'll use em instead of px so that It will be easier to make it responsive*/
    .nav ul li{
        font-family: 'Titre H2';
        font-size: 2.6em;
    }
    h1{
        font-family: 'Titre H2';
        font-size: 5.6em;
        color: var(--pinky);
    }
    h2{
        font-family: 'Titre H2';
        font-size: 2.6em;
        color: var(--pinky);
    }
    p, li{
        font-family: 'texte';
        font-size: 1.3em;
    }
    q{
        font-family: 'texte';
        font-size: 1.1em;
    }       
    h3{
        font-family: 'texte';
        font-size: 4em;   
    }
    .btn{
        font-family: 'texte';
        font-size: 1.1em;
        font-weight: bold;
    }
    h4{
        font-family: 'texte';
        font-size: 1.8em;
        
    }
/*...then let's reset the default styles*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    list-style: none;
    box-sizing: border-box;
    /*rmv later*/
}

/*former bgs remove this later*/
body{
    background: url('/images/Allpages/arrière_plan.png') no-repeat;
    background-size: cover;
    font-size: 12px;
    color: white;
}

/*nav bar*/
nav{
    width: auto;
    height: 100px;
}
.colab img{
    float: left;
    padding: 30px 2%;
}
.nav ul li{
    float: right;
    padding: 34px 2%;
}
a{
    color: white;
}
/*style warrior bg*/
#okoye{
    background: url('/images/Enigme/Pantherenigme1.png') left no-repeat;
    background-size: 50%;
    height: 100vh;
}
.defi{
    width: 50%;
    PADDING: 15% 0 0 5%;
    margin-left: 50%;
}
.charade{
    background: url('/images/Enigme/Pantherenigme2.png') center no-repeat;
    background-size: 95%;
    height: 50vh;
    align-items: center;
}
.charade p{
    padding-top: 20%;
    width: 71%;
    text-align: justify;
    font-size: 1.1em;
    margin: auto;
}
/*enigmatic textes*/
span{
    font-family: 'Enigme';
}
#enigme{
    margin: 0 0 0 15%;
    display: flex;
    position: relative;
}
.guess1{
    color: var(--pinky);
    font-size: 2.6em;
    word-spacing: 10px;
}
.transcription{
    margin: 10% 0;
}
/*formulaire*/
.answer{
    width: 520px;
}
input{
    background: none;
    margin: 1% 0 5% 0;
    width:  520px;
    height: 56px;
    border: 2px solid var(--button);
    border-radius: 30px;
    padding: 10px 10px;
}
input:focus{
    outline: none;
}
    /*real button*/
    .btn{
        width: 150px;
        padding: 10px 0;
        border-radius: 38px;
        background-color: var(--button);
        text-align: center;
        margin: auto;
    }
    .btn a{
        color: var(--general);
    }
.did-you-know{
    position: absolute;
    background: url('/images/Enigme/Pantherenigme2.png') 10% no-repeat;
    background-size: 90%;
    height: 50vh;
    width: 50%;
    right: 0;
}
.did-you-know p{
    padding-top: 21%;
    padding-left: 10%;
    width: 80%;
    text-align: center;
}
/*footer section*/
.foot{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.img1{
    position: relative;
}
.img2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section1{
    display: flex;
    gap: 40%;
}
.section2 ul{
    display: flex;
    margin-top: 5%;
}