/*Same as the Homepage*/
/*to avoid copy and paste the same styles*/
/*first things first*/
@import "/styles/external-styles/default.css";
/*then...*/
@import "/styles/external-styles/navbar.css";
/*...after that...*/
@import "/styles/external-styles/fonts.css";
/*...finaly*/
@import "/styles/external-styles/footer.css";
/* @import "/styles/external-styles/fadein.css"; */

/*style warrior bg*/
#okoye{
    background: url('/images/Enigme/Pantherenigme1.png') left no-repeat;
    background-size: 70%;
    height: 100%;
}
    /*custom fonts a bit different from the imported one*/
    .titre h1{
        font-family: 'Titre h2';
        font-size: 4em;
    }
.defi{
    width: 50%;
    PADDING: 15% 0 0 5%;
    margin-left: 50%;
}
    /*stroke bg*/
    .defi{
        background: url('/images/Enigme/Pantherenigme3.png') bottom no-repeat;
    }
.charade{
    position: relative;
}
    /*bizarre  circles bg*/
    .charade img{
    width: 90%;
    }
.charade-text{
    position: absolute;
    top: 0;
    left: 0;
    font-size: .9em;
}
.charade p{
    padding-top: 20%;
    width: 71%;
    text-align: justify;
    font-size: 1.1em;
    margin: auto;
}
/*enigmatic textes*/
#enigme{
    margin: 5% 0 5% 15%;
    display: flex;
    position: relative;
}
.guess1{
    color: var(--pinky);
    font-size: 2.6em;
    word-spacing: 10px;
}
.transcription{
    margin: 10% 0;
}
/*formulaire*/
.answer{
    width: 520px;
}
input{
    background: none;
    margin: 1% 0 5% 0;
    width:  520px;
    height: 56px;
    border: 2px solid var(--button);
    border-radius: 30px;
    padding: 10px 10px;
    color: var(--pinky);
}
input:focus{
    outline: none;
}
    /*real button*/
    .btn{
        width: 150px;
        padding: 10px 0;
        border-radius: 38px;
        background-color: var(--button);
        text-align: center;
        margin: auto;
    }
    .btn a{
        color: var(--general);
    }
.did-you-know{
    position: absolute;
    background: url('/images/Enigme/Pantherenigme2.png') 10% no-repeat;
    background-size: 90%;
    height: 50vh;
    width: 50%;
    right: 0;
}
.did-you-know p{
    padding-top: 21%;
    padding-left: 10%;
    width: 80%;
    text-align: center;
}