/*Same as the Homepage*/
/*to avoid copy and paste the same styles*/
/*first things first*/
@import "/styles/external-styles/default.css";
/*then...*/
@import "/styles/external-styles/navbar.css";
/*...after that...*/
@import "/styles/external-styles/fonts.css";
/*...finaly*/
@import "/styles/external-styles/footer.css";
@import "/styles/external-styles/fadein.css";

/*style warrior bg*/
#okoye{
    background: url('/images/Enigme/Pantherenigme1.png') bottom left/100vh no-repeat, url('/images/Enigme/Pantherenigme3.png') bottom right/90vh no-repeat;
    height: 90vh;
}
    /*custom fonts a bit different from the imported one*/
    .titre h1{
        font-family: 'Titre h2';
        font-size: 4em;
    }
.defi{
    width: 50%;
    PADDING: 15% 0 0 5%;
    margin-left: 50%;
}
.titre{
    text-shadow: 2px 3px 5px rgb(0, 0, 0);
    background: linear-gradient(to right,transparent, rgba(214, 9, 255, 0.104), transparent);
}
.charade{
    background: url(/images/Enigme/Pantherenigme2.png) center/90% no-repeat;
    height: 100%;
}
.charade-text{
    top: 0;
    left: 0;
    font-size: .9em;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.charade p{
    width: 71%;
    text-align: justify;
    font-size: 1.1em;
    margin: auto;
    padding: 15% 0;
}

/*enigmatic textes*/
#enigme{
    margin: 10% 5%;
    display: flex;
    position: relative;
}
/*left part*/
.guess{
    width: 70%;
}
.guess1{
    color: var(--pinky);
    font-size: 2.6em;
    word-spacing: 10px;
}
.transcription{
    margin: 10% 0;
}
/*formulaire*/
input{
    background: none;
    margin: 1% 0 5% 0;
    width:  100%;
    height: 56px;
    border: 2px solid var(--button);
    border-radius: 30px;
    padding: 10px 10px;
    color: var(--pinky);
}
input:focus{
    outline: none;
}
    /*real button*/
    .btn{
        width: 150px;
        padding: 10px 0;
        border-radius: 38px;
        background-color: var(--button);
        text-align: center;
        margin: auto;
        transition: .5s all ease-in-out;
    }
    .btn:hover{
        filter: drop-shadow(0 0 10px #F2CEF2);
    }
    .btn a{
        color: var(--general);
    }
/*right part... le savais-tu?*/
.did-you-know{
    text-align: center;
    margin: auto 5%;
    width: 50%;
}
.fact{
    background: url('/images/Enigme/Pantherenigme2.png') center/100% no-repeat;
    padding: 8%;
    width: 100%;
}

/*responsive*/
@media screen and (max-width: 1000px) and (min-width: 900px) {
    .defi{
        padding-top: 20%;
        width: 75%;
        margin-left: 20%;
    }
    .charade-text{
        margin-top: 15%;
    }
    #okoye{
        background: url('/images/Enigme/Pantherenigme1.png') bottom left/70vh no-repeat, url('/images/Enigme/Pantherenigme3.png') bottom right/90vh no-repeat;
        height: 90vh;
    }
}
@media screen and (max-width: 900px) {
    #okoye{
        background: url('/images/Enigme/Pantherenigme1.png') bottom left/80vh no-repeat, url('/images/Enigme/Pantherenigme3.png') bottom right/90vh no-repeat;
        height: 90vh;
    }
    .defi{
        padding-top: 35%;
        font-size: 1.4em;
    }
    #enigme{
        display: block;
    }
    .guess, input{
        width: 100%;
    }
    .did-you-know{
        width: 100%;
    }
    .fact{
        background: url('/images/Enigme/Pantherenigme2.png') center/90% no-repeat;
        padding: 10%;
        width: 85%;
        margin: 5% 0;
    }
    .guess1{
        word-spacing: 5px;
    }
}
@media screen and (max-width: 800px) {
    #okoye{
        background: url('/images/Enigme/Pantherenigme1.png') left/70vh no-repeat, url('/images/Enigme/Pantherenigme3.png') bottom right/90vh no-repeat;
        height: 100vh;
    }
    .defi{
        font-size: 1em;
    }
}
@media screen and (max-width: 700px) {
    #okoye{
        background: url('/images/Enigme/Pantherenigme1.png') center/80vh no-repeat, url('/images/Enigme/Pantherenigme3.png') bottom right/90vh no-repeat;
        height: 100vh;
    }
    .defi{
        width: 100%;
        padding-top: 75%;
        margin-left: 0;
        text-align: center;
    }
    .charade{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 600px) {
    #okoye{
        font-size: 1.5em;
        padding-top: 10%;
    }
}