/*variable for the colors*/
:root{
    --general: #021740;
    --pinky: #9E91B7;
    --button: #F2CEF2;
}
/*first thing first let's incorporate the fonts*/
@font-face {
    font-family: 'Titre H1';
    src: url(/fonts/panthera.otf);
}
@font-face {
    font-family: 'Titre H2';
    src: url(/fonts/BEYNO.ttf);
}
@font-face {
    font-family: 'Enigme';
    src: url(/fonts/WakandaForever-Regular.ttf);
}
@font-face {
    font-family: 'texte';
    src: url(/fonts/Cantarell-Regular.ttf);
}
    /*fonts of each elements... we'll use em instead of px so that It will be easier to make it responsive*/
    .nav ul li{
        font-family: 'Titre H2';
        font-size: 2.6em;
    }
    h1{
        font-family: 'Titre H1';
        font-size: 5.6em;
        color: var(--pinky);
    }
    h2{
        font-family: 'Titre H2';
        font-size: 2.6em;
        color: var(--pinky);
    }
    p, li{
        font-family: 'texte';
        font-size: 1.3em;
    }
    q{
        font-family: 'texte';
        font-size: 1.1em;
    }       
    h3{
        font-family: 'texte';
        font-size: 4em;   
    }
    .btn{
        font-family: 'texte';
        font-size: 1.1em;
        font-weight: bold;
    }
    h4{
        font-family: 'texte';
        font-size: 1.8em;
        
    }
/*...then let's reset the default styles*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    list-style: none;
    box-sizing: border-box;
    /*rmv later*/
}
/*former bgs remove this later*/
body{
    background: url('/images/Allpages/arrière_plan.png') no-repeat;
    background-size: cover;
    font-size: 12px;
    color: white;
}

/*nav bar*/
nav{
    width: auto;
    height: 100px;
}
.colab img{
    float: left;
    padding: 30px 2%;
}
.nav ul li{
    float: right;
    padding: 34px 2%;
}
a{
    color: white;
}
/*style*/
.biographie{
    width: 30%;
    PADDING: 15% 0 0 5%;
}
#hommage{
    background: url('/images/Accueil/Pantherhome1..png') no-repeat;
    background-position: right;
    background-size: 60%;
    height: 100vh;
}

/*characters section*/
.bg, .buste{
    display: flex;
}
.bg{
    background-color: var(--general);
    height: 360px;
    margin: 0 0 0 5%;
}
.buste img{
    height: 100%;
}
.text{
    margin: 2%;
    text-align: justify;
}
/*biograophie section*/
#hommage2{
    margin: 5% 5% 5% 10%;
}
.partI{
    display: flex;
}
.autobio{
    text-align: justify;
}
.description{
    margin: 40% auto 0 auto;
    color: var(--general);
    background: white;
    position: relative;
    width: 75%;
    border-radius: 10px;
    padding: 10;
}
.second, .third{
    padding-top: 2%;
}
.portrait{
    position: absolute;
    top: -30%;
    text-align: center;
}
.portrait img{
    width: 80%;
}
.description2{
    padding: 70% 5% 15% 5%;
}
.panther{
    margin: 5% 0;
}
    /*The button like stuff*/
    h5{
        text-align: center;
        font-weight: bold; 
        font-size: 2.5em; 
        font-family: 'texte';
    }
    .btn2{
        display: flex;
        justify-content: center;
    }
    h6{
        background-color: #3D2DA6;
        margin: 6% 2%;
        color: white;
        padding: 7px 10px;
        border-radius: 5px;
    }
/*formulaire*/
    /*fromulaire bg*/
    #formulaire{
        background: url(/images/Accueil/Pantherhome7.png) no-repeat;
        background-size: cover;
    }
form{
    margin: 10% auto;
    padding: 5% 0;
    text-align: center;
    background: linear-gradient(to bottom, white, transparent);
    width: 600px;
    border-radius: 60px;
    color: var(--general);
}
input{
    background: none;
    margin: 1% 0;
    width:  520px;
    height: 56px;
    border: 2px solid var(--general);
    border-radius: 20px;
    padding: 10px 10px;
}
.sms{
    height: 200px;
}
input:focus{
    outline: none;
}
    /*real button*/
    .btn{
        width: 150px;
        padding: 10px 0;
        border-radius: 38px;
        margin: auto;
        background-color: var(--button);
    }
    .btn a{
        color: var(--general);
    }
/*footer section*/
.foot{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.img1{
    position: relative;
}
.img2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section1{
    display: flex;
    gap: 40%;
}
.section2 ul{
    display: flex;
    margin-top: 5%;
}

/*stylesheets for the second page*/
@import url("/styles/enigme.css");