/*import external libs*/
//Why?? literaly the same style so why bother to copy and cut
@import url(../styles/external-styles/default.css);
@import url(../styles/external-styles/navbar.css);
@import url(../styles/external-styles/footer.css);

/*the fonts*/
@font-face {
    font-family: 'Titre H1';
    src: url(../fonts/panthera.otf);
}
@font-face {
    font-family: 'Titre H2';
    src: url(../fonts/BEYNO.ttf);
}
@font-face {
    font-family: 'Enigme';
    src: url(../fonts/WakandaForever-Regular.ttf);
}
@font-face {
    font-family: 'texte';
    src: url(../fonts/Cantarell-Regular.ttf);
}
    //fonts
    h1{
        font-family: 'Titre H1';
        font-size: 5.6em;
        color: var(--pinky);
    }
    h2{
        font-family: 'Titre H2';
        font-size: 2.6em;
        color: var(--pinky);
    }
    p{
        font-family: 'texte';
        font-size: 1.3em;
    }
    q{
        font-family: 'texte';
        font-size: 1em;
        font-style: italic;
    }       
    h3{
        font-family: 'texte';
        font-size: 4em;   
    }
    .btn{
        font-family: 'texte';
        font-size: 1.1em;
        font-weight: bold;
    }
    h4{
        font-family: 'texte';
        font-size: 1.8em;
        letter-spacing: 4px;
    }

/*The bgs*/
//Body
body {
    background: #11213F url("../images/Allpages/arrière_plan.png") no-repeat;
    background-size: cover;
    font-size: 12px;
    color: white;
    overflow-x: hidden;
}
//Footer
footer {
    height: max-content;
    padding: 40px 0;
    background: url(../images/Allpages/back_footer.png) center/cover no-repeat;
}

/*Première partie*/
#hommage{
    height: 100vh;
    display: grid;
    align-items: center;
    background: url(../images/Accueil/Pantherhome1..png) 90% 100px/50vw no-repeat;
}

//Movie Intro
.biographie{
    margin-left: 10vw;
    p{
        width: 30%;
    }
}

/*Deuxième partie*/
#buste{
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20%;
}
.card{
    background-color: #021740;
    display: flex;
    width: 100vw;
    .card-image{
        position: relative;
        height: max-content;
        width: 200px;
        height: 220px;
        margin: -10px;
        img{
            height: 120%;
            width: 100%;
            object-fit: cover;
        }
    }
    .card-content{
        padding: 10px 15px;
        text-align: justify;
        width: 290px;
    }
}
@media screen and (max-width: 500px) {
    #buste{
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 20% 0;
    }
    .card{
        display: flex;
        flex-direction: column;
        .card-content{
            width: 85%;
            padding-top: 70px;
        }
    }
}
/*Troisième partie*/
#naissance{
    margin: 25% 0;
}
.partI{
    display: flex;
    margin: 0 7vw;
    align-items: center;
    //TWO PART LEFT AND RIGHT
    .autobio{
        width: 75%;
        margin-right: 5%;
        text-align: justify;
    }
    .tchalla{
        width: 25%;
        margin: 0 2.5%;
        /*The button like stuff*/
        .btn2{
            justify-content: center;
        }
        h5{
            text-align: center;
            font-weight: bold; 
            font-size: 2.5em; 
            font-family: 'Texte';
        }
        h6{
            background-color: #3D2DA6;
            margin: 6% 2%;
            color: white;
            padding: 10px 15px;
            border-radius: 5px;
            font-family: 'Texte';
            font-size: 1em;
        }
    }
}
.second, .third{
    margin-top: 25px;
}
/*Carte description T'Challa*/
.description{
    text-align: center;
    background-color: #fff;
    border-radius: 2em;
    padding: 0 25px 20px;
    color: #021740;
    position: relative;
    width: 100%;
    min-width: 300px;
    .portrait{
        position: absolute;
        top: -100px;
        left: -5px;
        img{
            width: 60%;
            min-width: 150px;
        }
    }
    .description2{
        text-align: center;
        padding-top: 150px;
        .btn2{
            display: flex;
            margin: 0 auto;
        }
        .description3{
            text-align: initial;
        }
    }
}
//panther random bacground
.panther{
    display: grid;
    align-content: center;
    text-align: center;
    margin-top: 50px;
    img{
        width: 300px;
    }
}

/*formulaire part*/
form{
    height: 100vh;
    display: grid;
    align-content: center;
    background: url(../images/Accueil/Pantherhome7.png) center/cover no-repeat;
    margin: 0 0 25%;
}
.form{
    margin: 0 auto;
    text-align: center;
    border-radius: 3em;
    padding: 20px;
    color: #021740;
    background: linear-gradient(to bottom, #fff, transparent);
    width: 40vw;
    min-width: 270px;
    input, textarea{
        background: transparent;
        margin: 5px 0;
        width: 55%;
        height: 40px;
        border-radius: 20px;
        padding: 10px 10px;
        font-family: 'Texte';
        border: 2px solid var(--general);
        color: var(--general);
        &:focus{
            outline: none;
        }
    }
    textarea{
        height: 60%;
    }
    button{
        width: 150px;
        padding: 10px 0;
        border-radius: 38px;
        margin: 3% auto;
        background-color: var(--button);
        border: none;
        justify-content: center;
        cursor: pointer;
        transition: .25s all ease-out;
        &:hover{
            filter: drop-shadow(0 0 10px #021740);
            color: var(--general);
        }
    }
}
::placeholder{
    color: var(--general);
    font-size: 20px;
}
//confirmation form
#name-error, #email-error{
    margin: 5px auto;
    width: 50%;
    font-size: 1em;
    color: #C62828;
    background: rgba(256, 0, 0, 0.1);
    padding: 5px 8px;
    border-radius: 10px;
    border: 1px solid var(--general);
    display: none;
}

@media screen and (max-width: 900px) {
    .form{
        width: 70vw;
        input, textarea{
            width: 90%;
        }
        textarea{
            height: 50%;
        }
    }
}
@media screen and (max-width: 720px) {
    .form{
        h3{
            font-size: 2em;
            font-weight: 600;
        }
    }
}

/*partie responsive let's make things simple and use only one or two media query*/
@media screen and (max-width: 900px) {
    #hommage{
        background: url(../images/Accueil/Pantherhome1..png) top center/90vw no-repeat;
    }
    #buste{
        height: 70vh;
    }
    //Movie Intro
    .biographie{
        text-align: center;
        margin: 50% 75px 0;
        h1{
            font-size: 0 9vw;
        }
        p{
            width: 100%;
        }
    }   
}
@media screen and (max-width: 820px) {
    #naissance{
        margin: 0;
        padding-top: 20%;
    }
    .partI{
        display: block;
        margin: 0 12%;
        //TWO PART LEFT AND RIGHT
        .autobio{
            width: 100%;
            text-align: justify;
        }
        .tchalla{
            width: 100%;
            display: grid;
            justify-content: center;
        }
    }
    .description{
        margin-top: 125px;
        width: 250px;
        .description2{
            padding-top: 150px;
        }
    }
}