/*Same as the Homepage*/
/*to avoid copy and paste the same styles*/
@import "/styles/external-styles/navbar.css";
@import "/styles/external-styles/fonts.css";
@import "/styles/external-styles/footer.css";
@import "/styles/external-styles/default.css";

/*first section*/
#city{
    background: url('/images/Wakanda/Pantherwakanda1.jpg') 80% 20% no-repeat;
    background-size: cover;
    height: 100vh;
}

/*second section*/
#origins{
    display: flex;
    margin: 5% 2%;
    text-align: justify;
}
.leftpart, .rightpart{
    margin: 0 2%;
}